/*header*/
body nav.white{
	box-shadow: none;
}
.nav-wrapper{
	padding-right: 40px;
	padding-left: 40px;
	max-width: 1440px;
	margin: 0 auto;
}
.brand{
	margin-right: 20px;
}
.brand img{
	display: inline-block;
	vertical-align: middle;
}
.brand span{
	display: inline-block;
	vertical-align: middle;
	color: #4F4F4F;
	font-size: 24px;
	line-height: 1.17;
	font-weight: 600;
	margin-left: 8px;
}
.brand a{
	display: inline;
	padding: 0;
}
.brand a:hover{
	background-color: #fff;
}
.left li.link a{
	padding: 0 20px;
	color: #4F4F4F;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}
.btn-auth{
	background-color: #fff;
	/*border: 2px solid #2F80ED;*/
	border: none;
	border-radius: 18px;
	height: 36px;
	font-size: 14px;
	line-height: 32px;
	padding: 0 16px;
	color: #2F80ED;
	text-transform: uppercase;
}
.log{
	border: 2px solid #2F80ED;
}
.log:hover{
	background-color: #fff;
}
.log:focus{
	background-color: #fff;
}
.reg:hover{
	background-color: #2F80ED;
	color: #fff;
}
.reg:focus{
	background-color: #1661C7;
	color: #fff;
}
.reg{
	background-color: #2F80ED;
	color: #fff;
}
.right li{
	margin-left: 8px;
}
div.circle-btn{
	border-radius: 50%;
	width: 36px;
	height: 36px;
	border: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.fb{
	background-color: #3B5998;	
}
.gplus{
	background-color: #D34836;	
}
/*header*/
/*navbar*/
.nav-bottom{
	position: absolute;
	top: 64px;
	height: 56px;
	background-color: rgba(0,0,0,.3);
	z-index: 10;
	box-shadow: none;
}
.nav-bottom ul.left{
	padding: 0 40px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.nav-bottom ul.left li{
	height: 56px;
	line-height: 56px;
	display: flex;
}
/*navbar*/
/*main*/
main{
	width: 100%;
}
.banner{
	position: relative;
}
.banner img{
	width: 100%;
}
.banner-text{
	position: absolute;
	top: 56px;
	width: 100%;
	color: #fff;
	line-height: 1.17;
	font-weight: 500;
	display: flex;
	justify-content: center;
}
.banner-text > div{
	width: 100%;
	max-width: 1440px;
	padding: 8% 0 0 11.5%;
}
.banner-text h1{
	max-width: 452px;
	font-size: 36px;
	margin: 0;
}
.banner-text p{
	max-width: 452px;
	font-size: 14px;
	margin-top: 0;
}
.start{
	border-color: #fff;
	color: #2F80ED;
}
.start:hover{
	background-color: #fff;
	border-color: #fff;
	color: #2F80ED;	
}
.start:focus{
	background-color: #fff;
	border-color: #fff;
	color: #2F80ED;	
}
/*banner*/
.actions{
	padding: 0 40px;
	max-width: 1440px;
	margin: 0 auto;
	margin-top: -18px;
	display: flex;
	justify-content: space-between;
}
.actions .card{
	margin: 0;
	padding: 16px;
	height: 134px;
	border-radius: 16px;
	/*width: 328px;*/
	width: 24%;
	display: flex;
	align-items: center;
}
.card .desc{
	display: flex;
	flex-direction: column;
	color: rgba(0, 0, 0, 0.64);
	font-size: 16px;
	padding-left: 16px;
}
.card .desc span{
	color: #FFA114;
	font-size: 24px;
	font-weight: 600;
}
.card .img{
	min-width: 56px;
	min-height: 56px;
	background-color: #FFA114;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lightcoin .img{
	background-color: #7D7D7D;
}
.lightcoin .desc span{
	color: #7D7D7D;
}
.ripple .img{
	background-color: #148EC9;
}
.ripple .desc span{
	color: #148EC9;	
}
.cash .img{
	background-color: #65971F;
}
.cash .desc span{
	color: #65971F;	
}
/*banner*/
.registration{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.counters{
	display: flex;
	justify-content: center;
	margin-top: 48px;
	margin-bottom: -48px;
}
.counter{
	display: flex;
	flex-direction: column;
	margin: 0 48px;
	color: rgba(0, 0, 0, 0.64);
	font-size: 16px;
	font-weight: 500;
}
.counter span{
	color: #000;
	font-size: 34px;
}
.registration .foot{
	width: 100%;
	height: 60%;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.registration .foot p{
	max-width: 672px;
	margin: 0 auto;
	margin-bottom: 24px;
	font-size: 18px;
}
.registration p{
	text-align: center;
}
.registration button{
	display: flex;
	max-width: 136px;
	margin: 0 auto;
}

.registration img{
	width: 100%;
}
/*main*/

/*footer*/
footer{
}
footer > div:first-child{
	padding: 40px;
	display: flex;
	justify-content: space-between;
}
.socials li{
	display: inline-flex;
	color: #4F4F4F;
	margin-right: 16px;
	max-height: 36px;
}
ul.socials li a{
	height: 36px;
	width: 36px;
	background-color: #E0E0E0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.lang li{
	display: inline;
	font-size: 18px;
	color: #BDBDBD;
} 
.apps li{
	display: inline;
	padding-right: 16px;
}
.f-right .links{
	display: inline-flex;
	min-width: 420px;
	justify-content: space-between;
}
.f-right .links ul li a {
	color: #828282;
}
.carts li{
	display: inline;
	margin-right: 40px;
}
footer > div:first-child{
	max-width: 1440px;
	margin: 0 auto;
}
footer .bottom{
	height: 56px;
	background-color: #E0E0E0;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*footer*/
@media screen and (max-width: 1180px){
	ul.statuses li:last-child{
		display: none;
	}
	.card .desc{
		font-size: 14px;
	}
	.card .desc span{
		font-size: 22px;
	}
	.counters{
		margin-bottom: -30px;
	}
	.counters .counter span{
		font-size: 32px;
	}
	.counters .counter{
		font-size: 14px;
		margin: 0 24px;
	}
}
@media screen and (max-width: 1000px){
	ul.statuses li:nth-last-child(2){
		display: none;
	}
	.card .desc{
		font-size: 12px;
	}
	.card .desc span{
		font-size: 20px;
	}
	.counters .counter span{
		font-size: 24px;
	}
	.counters .counter{
		font-size: 12px;
		margin: 0 20px;
	}
	.registration .foot p{
		font-size: 14px;
		margin-bottom: 12px;
	}
}